@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --animate-wave: wave 2s ease-in-out infinite;
  --color-brand-start: var(--color-indigo-500);
  --color-brand-end: var(--color-fuchsia-500);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-16deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

html {
  @apply transition-colors duration-200;
}
